@keyframes pulsecust {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.2); 
  }
  100% {
    transform: scale(1); 
  } 
}

@keyframes pulsecustRtl {
  0% {
    transform: scale(-1 , 1); 
  }
  50% {
    transform: scale(-1.2, 1.2);  
  }
  100% {
    transform: scale(-1, 1); 
  } 
}

@keyframes translateX {

  0%,
  100% {
    transform: translateX(2px);
  }

  50% {
    transform: translateX(-2px);
  }
}

@keyframes translateXRtl {

  0%,
  100% {
    transform: translateX(2px) scaleX(-1);
  }

  50% {
    transform: translateX(-2px) scaleX(-1);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes translateY {
  0%,
  100% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(-2px);
  }
}


@keyframes pulsecustdots {
  0% {
    opacity: 1;
    transform: scale(1); 
  }
  50% {
    opacity: .5;
    transform: scale(.9); 
  }
  100% {
    opacity: 1;
    transform: scale(1); 
  } 
}

@keyframes sideClip {
  0% {
    clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}