@media (max-width: 1999px) and (min-width: 1000px) {
  .navbar .contain .nav-contain {
    .navbar-nav li {
      margin-inline-end: 15px;
  
      a {
        font-size: 13px;
      }
    }

    .socail-media li a {
      width: 40px;
      height: 40px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
@media (max-width: 999px) {
  .navbar {
    .hamburger {
      display: block !important;
    }

    .button-contain {
      display: none;
    }

    .nav-contain {
      width: 100% !important;
      height: 100vh;
      position: absolute;
      padding: 20px 15px;
      background: linear-gradient(90deg, #212121, #423D43);
      z-index: 99;
      top: 105px;
      right: -100%;
      flex-direction: column !important;
      justify-content: flex-start !important;
      align-items: flex-start !important;
      align-content: flex-start !important;
      transition: all .3s linear;

      .navbar-nav {
        width: 100%;
        flex-direction: column !important;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        margin-bottom: 15px;

        li {
          width: 100%;
          margin: 0px !important;
          padding: 10px 0px;
          border-bottom: 1px solid rgba($color: #199EBD, $alpha: 0.2);
  
          &:last-child {
            border-bottom: 0px !important;
          }
  
          a {
            width: 100%;

            &::after, &::before {
              display: none;
            }

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }

      &.active-nav {
        right: 0px;
      }
    }

    .brand-name img {
      object-position: center !important;
    }

    &.scrolled {
      .nav-contain {
        top: 94px;
      }

      .contain {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }

  .about .image-content {
    width: 300px;
    height: 300px;
    margin: 0px auto;
  }

  html[dir="rtl"] {
    .nav-contain {
      left: -100%;
      right: unset;

      &.active-nav {
        left: 0px;
        right: unset;
      }
    }

    header {
      .scroll-arrow {
        right: 30px;
        left: unset !important;
      }
    }
  }

  .mobile-order-0 {
    order: 0;
  }

  .mobile-order-1 {
    order: 1;
  }

  header {
    padding: 200px 0px 40px !important;

    .swiper-slide {
      padding-bottom: 50px;
    }

    &::after {
      background-position: center;
    }

    h1 {
      font-size: 30px !important;

      span {
        font-size: 30px !important;
      }
    }
  }

  html[dir="rtl"] {
    header .scroll-arrow {
      right: unset;
      left: 30px !important;
    }
  }

  .courses .heading,
  .heading {
    margin-bottom: 30px !important;
    width: 100% !important;

    h1 {
      font-size: 30px !important;

      span {
        font-size: 30px !important;
      }
    }
  }

  .about  {
    .heading {
      position: relative !important;
      top: unset !important;
      left: unset !important;
      margin-bottom: 40px !important;
    }

    .image-content {
      height: 300px;
      margin-top: 30px;

      img {
        object-position: center;
      }
    }
  }

  .general-section {
    padding: 40px 0px;
  }

  .heading .see-more {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    justify-content: flex-end !important;
    margin-top: 20px;
    transform: translate(0px, 0px) !important;
  }

  .contact-now .contain {
    padding: 0px 20px 20px;

    .data {
      margin-top: 20px;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      text-align: center;
      align-content: center;

      .head-contain {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .blog-box {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    .image-content, .contain {
      width: 100% !important;
    }

    .contain h2 {
      padding-top: 20px;
    }
  }

  .contact-us .form-contain {
    padding: 30px 15px !important;
  }

  footer {
    &::after {
      background-position: center;
    }

    .copyrights {
      flex-direction: column;
      justify-content: center;

      p {
        margin-bottom: 10px;
        font-size: 13px !important;

        span {
          font-size: 12px !important;
        }
      }
    }
  }

  .whatsapp-btn {
    bottom: 10px !important;
  }

  .single-event {
    padding-bottom: 40px;

    .image-content,
    .single-image {
      height: 300px !important;
    }

    .event-name {
      margin: 20px 0px;
      padding: 20px 0px;

      h1 {
        font-size: 25px;
      }
    }

    .contain {
      padding: 30px 15px;
      margin-bottom: 20px;

      p {
        margin-bottom: 15px !important;
        font-size: 14px;
      }
    }

    .share h2 {
      font-size: 14px;
      margin-inline-end: 10px;
    }

    .gallery-img {
      height: 180px;
    }
  }

  .sub-header {
    h1 {
      font-size: 20px !important;
    }

    span, a {
      font-size: 12px !important;
    }
  }

  .signle-course {
    .image-content {
      margin-bottom: 20px;
      height: 300px !important;
    }
    .contain {
      h1 {
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 15px !important;
      }
    }
  }

  .blog .blog-box .contain {
    padding-bottom: 10px !important;
  }

  .modal-dialog {
    max-width: 100% !important;
    margin: 100px 0px 0px !important;

    .modal-content {
      margin: 0px;
      padding: 0px;
    }

    .form-contain h1 {
      margin: 0px 0px 20px 0px !important;
    }
  }

  .courses .course-box .contain {
    padding: 40px 20px;
  }
}